Flask
Flask-Mail
pyotp
qrcode[pil]
pillow
apscheduler==3.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0


#För att installera alla beroenden, kör följande kommando i terminalen:
#cd ~/Map-service

# För installation på Python Anywhere:
#python3.12 -m pip install --user -r requirements.txt

# För installation på lokal dator:
#py -3.12 -m pip install --user -r requirements.txt


#För att kunna hämta de senaste ändringarna från GitHub, kör följande kommando i terminalen:
#git reset --hard HEAD
#git clean -fd
#git pull

#VIKTIGT!!!
#Varje gång man har gjort en uppdatering i CSS koden måste man ändra versionsnummer.
#Detta görs i base.html på den raden där CSS filen laddas in, skriv v=+1 från tidigare nr.



#För att titta vad som finns i databasen, kör:
#python inspect_db.py

#För att tömma databasen på gammal data som redan är borttagen, kör:
#import sqlite3
#conn = sqlite3.connect("trafikvida.db")
#conn.execute("VACUUM")
#conn.close()
