Flask
Flask-Mail
pyotp
qrcode[pil]
pillow
apscheduler==3.11.0
python-dateutil==2.9.0.post0


#För att installera alla beroenden, kör följande kommando i terminalen:
#cd ~/Map-service
#python3.12 -m pip install --user -r requirements.txt

#För att kunna hämta de senaste ändringarna från GitHub, kör följande kommando i terminalen:
#git reset --hard HEAD
#git clean -fd
#git pull


#För att titta vad som finns i databasen, kör:
#python inspect_db.py

#För att tömma databasen på gammal data som redan är borttagen, kör:
#import sqlite3
#conn = sqlite3.connect("trafikvida.db")
#conn.execute("VACUUM")
#conn.close()
