{% extends "base.html" %}

{% block title %}Karttjänst – Startsida{% endblock %}

{% block body_class %}index-page{% endblock %}


{% block content %}

<noscript>
  <div style="background: #ffdddd; padding: 1em; text-align: center; color: #900;">
    JavaScript är avstängt. Karttjänsten fungerar inte utan JavaScript.
  </div>
</noscript>

<map-component
  data-lat="62.0"
  data-lng="15.0"
  data-zoom="6">
</map-component>

<script type="module" src="{{ url_for('static', filename='js/MapComponent.js') }}"></script>
{% endblock %}
