{% extends "base.html" %}

{% block title %}Välj inloggning{% endblock %}

{% block content %}
<div class="login-card">
  <h2>Välj inloggningstyp</h2>
  <p class="info-text">
    För att kunna prenumerera behöver du logga in.<br>
    Har du inget konto behöver du registrera dig.
  </p>
  <div class="login-buttons">
    <a href="{{ url_for('user_routes.login') }}" class="btn-primary user">
      <i class="bi bi-person-circle"></i> Logga in
    </a>
    <a href="{{ url_for('user_routes.register') }}" class="btn-secondary register">
      <i class="bi bi-person-plus"></i> Registrera
    </a>
  </div>
</div>
{% endblock %}
