{% extends "base.html" %}

{% block title %}Prenumerera{% endblock %}

{% block content %}

<!-- OBS! Styling för subscription sidan finns nu i css:en (längst ner) istället-->

<div>
  <div class="subscription-form-wrapper card">
    <div>
      <h1>Starta din SMS-prenumeration</h1>
      <p class="form-description">Fyll i formuläret nedan för att starta din SMS-prenumeration.<br> 
        Du kommer att få uppdateringar om trafikläget i ditt län.</p>

      <form id="subscription-form" class="subscription-form">
        <label for="phone_number">Telefonnummer: (använd +46701740615 för test i Playground)</label>
        <input type="text" id="phone_number" name="phone_number" required>

        <label for="counties">Välj län:</label>
        <select id="counties" name="counties" required></select>

        <label for="newspaper_id">Välj tidning:</label>
        <select id="newspaper_id" name="newspaper_id" required></select><br><br>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Starta Prenumeration</button>
        </div>
      </form>
    </div>
    <div>
      <div id="klarna-checkout-container"></div>
      <div id="response"></div>
    </div>
  </div>

</div>


<script src="{{ url_for('static', filename='js/subscription.js') }}"></script>

{% endblock %}
