{# user_login.html #}
{% extends "base.html" %}

{% block title %}Användarinloggning{% endblock %}

{% block content %}
<div class="card">
  <h2 class="mt-4">Logga in</h2>
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="POST">
    <input type="email" name="email" placeholder="E-post" required>
    <input type="password" name="password" placeholder="Lösenord" required>
    <div class="d-flex justify-content-center mt-2">
      <button type="submit" class="btn btn-primary">Logga in</button>
    </div>
  </form>
</div>
{% endblock %}